.terrain-view {
    transform: rotate(5deg) translate(-113px, -24px);
    @keyframes terrain-view-rotate {
        from { transform: rotate(5deg) translate(-113px, -24px)}
        to { transform: rotate(0) translate(0, 0);}
    }
    animation: terrain-view-rotate 30s cubic-bezier(0.34, 0.02, 0.65, 1) alternate infinite;
}
.terrain {
    animation-duration: 35s;
    animation-timing-function: cubic-bezier(0.34, 0.02, 0.65, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    fill: transparent;
    stroke: hsl(0, 0%, 30%);
}
.highlight { stroke: hsl(0, 0%, 80%); }
@keyframes _b2 {
    from {d: path("M 101.946 0.204 C 109.692 0.621 118.08 -0.374 128.558 -5.585 C 219.158 -5.585 251.1 0 284.5 0 C 307.9 0 335.6 0 359.1 0 C 402.8 0 445.3 0 487.1 0 L 486.891 0.178 L 0.318 0 L 87.099 -6.519 C 95.016 0.557 96.712 -0.078 101.946 0.204 Z")}
    to {d: path("M 101.124 16.633 C 109.195 16.175 114.683 14.389 128 0 C 169 0 250.7 0 284.1 0 C 307.6 0 335.2 0 358.8 0 C 402.5 0 445.232 0 487.132 0 L 486.6 0 L 0 0 L 87 0 C 88.359 6.305 94.248 17.023 101.124 16.633 Z")}
}
@keyframes _b1 {
    from {d: path("M 98.514 0.223 C 112.963 0.364 125.808 0.94 142.7 0 C 166.398 -1.319 250.7 0 284.1 0 C 307.6 0 335.2 0 358.8 0 C 402.5 0 446.3 0 488.2 0 L 486.6 0 L 0 0.83 L 65.4 0 C 78.4 0 80.369 0.046 98.514 0.223 Z")}
    to {d: path("M 92.068 39.975 C 103.807 48.75 117.867 31.075 142.652 11.397 C 169.04 -7.149 250.7 0 284.1 0 C 307.6 0 335.2 0 358.8 0 C 402.5 0 446.3 0 488.2 0 L 486.6 0 L 0 0.831 L 65.4 0 C 78.384 29.783 73.934 26.42 92.068 39.975 Z")}
}
@keyframes _1 {
    from {d: path("M 87.151 5.587 C 119.238 9.87 152.939 18.3 185.406 21.757 C 218.815 25.323 253.632 25.115 287.041 21.677 C 310.496 19.265 333.256 15.288 356.777 13.07 C 400.484 8.993 445.604 11.062 487.246 19.051 L 487.104 0 L 0.127 0 L 0.164 4.976 C 27.647 0.222 58.695 1.787 87.151 5.587 Z") }
    to {d: path("M 99.625 57.337 C 132.3 58.679 144.127 14.002 176.594 17.459 C 210.003 21.025 249.065 3.496 282.474 0.058 C 305.929 -2.354 331.712 -6.316 359.1 -7 C 401.932 -8.07 443.982 -16.783 487.1 -5 L 486.891 0.178 L 0.318 0 L 46.244 0.584 C 67.747 18.716 70.941 56.159 99.625 57.337 Z")}
}
@keyframes _2 {
    from {d: path("M 87.151 11.424 C 119.238 20.181 152.939 37.418 185.406 44.485 C 218.815 51.775 253.632 51.351 287.041 44.321 C 310.496 39.39 333.256 31.259 356.777 26.723 C 400.484 18.389 445.604 22.618 487.246 38.952 L 487.104 0.001 L 0.127 0.001 L 0.164 10.176 C 27.647 0.456 58.695 3.655 87.151 11.424 Z") }
    to {d: path("M 90.214 74.983 C 122.301 79.266 152.726 30.635 185.193 34.092 C 218.602 37.658 251.054 16.62 284.463 13.182 C 307.918 10.77 335.555 2.904 359.076 0.686 C 402.783 -3.391 445.258 1.083 487.113 9.043 L 486.891 0.178 L 0.318 0 L 0.364 -0.004 C 29.514 -4.812 61.758 71.183 90.214 74.983 Z")}
}
@keyframes _3 {
    from {d: path("M 87.024 17.575 C 119.111 31.047 152.812 57.564 185.279 68.436 C 218.688 79.651 253.505 78.998 286.914 68.184 C 310.369 60.598 333.129 48.089 356.65 41.111 C 400.357 28.289 445.477 34.795 487.119 59.924 L 486.977 0.001 L 0 0.001 L 0.037 15.654 C 27.52 0.701 58.568 5.622 87.024 17.575 Z") }
    to {d: path("M 93.438 101.481 C 125.525 105.764 152.726 48.769 185.193 52.226 C 218.602 55.792 253.419 25.293 286.828 21.855 C 310.283 19.443 333.043 15.466 356.564 13.248 C 400.271 9.171 445.391 11.24 487.246 19.2 L 486.891 0.178 L 0.318 0 L 0 10.7 C 30.312 5.884 64.982 97.681 93.438 101.481 Z")}
}
@keyframes _4 {
    from {d: path("M 87.033 20.586 C 119.088 36.367 152.726 67.428 185.167 80.164 C 218.549 93.3 253.368 92.535 286.803 79.868 C 310.275 70.982 333.066 56.33 356.603 48.156 C 400.34 33.136 445.445 40.757 487.028 70.194 L 487.028 0.001 L 0.051 0.001 L 0.051 18.336 C 27.569 0.82 58.606 6.585 87.033 20.586 Z") }
    to {d: path("M 89.724 110.103 C 121.811 118.86 152.726 67.887 185.193 74.954 C 218.602 82.244 253.419 51.529 286.828 44.499 C 310.283 39.568 333.043 31.437 356.564 26.901 C 400.271 18.567 445.391 22.796 487.246 39.1 L 486.891 0.179 L 0.318 0.001 L 0.191 51.4 C 29.514 41.651 61.268 102.334 89.724 110.103 Z")}
}
@keyframes _5 {
    from {d: path("M 87.033 23.165 C 119.088 40.923 152.726 75.876 185.167 90.207 C 218.549 104.99 253.368 104.129 286.803 89.875 C 310.275 79.875 333.066 63.387 356.603 54.188 C 400.34 37.288 445.445 45.864 487.028 78.988 L 487.028 0.002 L 0.051 0.002 L 0.051 20.633 C 27.569 0.923 58.606 7.41 87.033 23.165 Z") }
    to {d: path("M 91.797 125.883 C 123.852 141.664 152.513 97.897 184.954 110.633 C 218.336 123.769 253.155 92.713 286.59 80.046 C 310.062 71.16 332.853 56.508 356.39 48.334 C 400.127 33.314 445.232 40.935 487.246 70.4 L 486.815 0.179 L 0.242 0.001 L 0.191 85.6 C 26.633 68.097 63.37 111.882 91.797 125.883 Z")}
}
@keyframes _6 {
    from {d: path("M 87.033 26.695 C 119.088 47.16 152.726 87.442 185.167 103.958 C 218.549 120.994 253.368 120.003 286.803 103.574 C 310.275 92.05 333.066 73.049 356.603 62.448 C 400.34 42.971 445.445 52.854 487.028 91.029 L 487.028 0.001 L 0.051 0.001 L 0.051 23.777 C 27.569 1.062 58.606 8.538 87.033 26.695 Z") }
    to {d: path("M 95.353 146.687 C 127.408 167.152 152.513 117.911 184.954 134.427 C 218.336 151.463 253.155 120.181 286.59 103.752 C 310.062 92.228 332.853 73.227 356.39 62.626 C 400.127 43.149 445.232 53.032 487.246 91.2 L 486.815 0.179 L 0.242 0.001 L 0 111 C 30.132 88.301 66.926 128.53 95.353 146.687 Z")}
}
@keyframes _7 {
    from {d: path("M 87.033 30.167 C 119.088 53.293 152.726 98.814 185.167 117.478 C 218.549 136.73 253.368 135.608 286.803 117.045 C 310.275 104.021 333.066 82.549 356.603 70.569 C 400.34 48.559 445.445 59.728 487.028 102.867 L 487.028 0.001 L 0.051 0.001 L 0.051 26.869 C 27.569 1.2 58.606 9.649 87.033 30.167 Z") }
    to {d: path("M 86.82 150.159 C 118.875 173.285 152.513 129.283 184.954 147.947 C 218.336 167.199 248.461 120.162 286.59 117.223 C 310.991 115.342 325.007 149.12 336.89 125.534 C 367.627 64.524 445.232 59.906 487.246 103 L 486.815 0.179 L 0.242 0.001 L 0.191 139.885 C 27.985 114.207 58.393 129.641 86.82 150.159 Z")}
}
@keyframes _8 {
    from {d: path("M 87.109 34.003 C 119.164 60.071 152.802 111.381 185.243 132.419 C 218.625 154.12 253.444 152.855 286.879 131.931 C 310.351 117.251 333.142 93.048 356.679 79.544 C 400.416 54.735 445.521 67.324 487.104 115.95 L 487.104 0.001 L 0.127 0.001 L 0.127 30.286 C 27.645 1.353 58.682 10.877 87.109 34.003 Z") }
    to {d: path("M 86.622 168.345 C 118.677 194.413 156.855 137.584 189.296 158.622 C 222.678 180.323 253.231 153.033 286.666 132.109 C 310.138 117.429 337.522 189.916 346.251 164.222 C 372.345 87.412 445.308 67.502 487.246 116.1 L 486.891 0.179 L 0.318 0.001 L 0.191 157.689 C 27.159 128.784 58.195 145.219 86.622 168.345 Z")}
}
@keyframes _9 {
    from {d: path("M 87.109 49.518 C 119.164 87.48 152.802 162.203 185.243 192.84 C 218.625 224.442 253.444 222.601 286.879 192.129 C 310.351 170.75 333.142 135.504 356.679 115.839 C 400.416 79.709 445.521 98.043 487.104 168.856 L 487.104 0.001 L 0.127 0.001 L 0.127 44.105 C 27.645 1.969 58.682 15.838 87.109 49.518 Z") }
    to {d: path("M 86.353 191.678 C 118.408 229.64 153.966 137.597 186.407 168.234 C 219.789 199.836 254.608 197.995 288.043 167.523 C 311.515 146.144 334.483 208.422 352.336 183.483 C 394.059 125.201 445.308 57.461 487.246 128.3 L 486.891 0.179 L 0.318 0.001 L 0 180.079 C 27.518 137.943 57.926 157.998 86.353 191.678 Z")}
}
@keyframes _10 {
    from {d: path("M 87.109 68.692 C 119.164 121.354 152.802 225.011 185.243 267.511 C 218.625 311.35 253.444 308.796 286.879 266.525 C 310.351 236.868 333.142 187.974 356.679 160.694 C 400.416 110.574 445.521 136.007 487.104 234.24 L 487.104 0.001 L 0.127 0.001 L 0.127 61.183 C 27.645 2.731 58.682 21.971 87.109 68.692 Z") }
    to {d: path("M 97.73 230.051 C 128.213 283.639 153.966 139.823 186.407 182.323 C 219.789 226.162 254.608 284.19 288.043 241.919 C 311.515 212.262 328.706 255.538 352.336 228.338 C 395.878 178.218 429.472 41.516 487.246 139.7 L 486.891 0.179 L 0.318 0.001 L 0.191 193.645 C 33.267 134.983 70.287 181.807 97.73 230.051 Z")}
}
@keyframes _11 {
    from {d: path("M 87.109 74.547 C 119.164 131.697 152.802 244.189 185.243 290.312 C 218.625 337.887 253.444 335.115 286.879 289.242 C 310.351 257.057 333.142 203.996 356.679 174.39 C 400.416 119.999 445.521 147.599 487.104 254.205 L 487.104 0.001 L 0.127 0.001 L 0.127 79.001 C 27.645 2.964 58.682 23.844 87.109 74.547 Z") }
    to {d: path("M 95.597 237.328 C 126.678 295.014 153.966 159.001 186.407 205.124 C 219.789 252.699 254.608 310.509 288.043 264.636 C 311.515 232.451 328.799 271.64 352.336 242.034 C 396.073 187.643 445.308 53.108 487.246 159.7 L 486.891 0.179 L 0.318 0.001 L 0.191 202.4 C 33.294 137.013 68.11 186.312 95.597 237.328 Z")}
}
@keyframes _12 {
    from {d: path("M 87.109 86.11 C 119.164 152.125 152.802 282.066 185.243 335.343 C 218.625 390.298 253.444 387.096 286.879 334.107 C 310.351 296.93 333.142 235.638 356.679 201.44 C 400.416 138.612 445.521 170.494 487.104 293.635 L 487.104 0.001 L 0.127 0.001 L 0.127 101.001 C 27.645 3.424 58.682 27.543 87.109 86.11 Z") }
    to {d: path("M 86.896 236.413 C 118.951 302.428 153.966 196.878 186.407 250.155 C 219.789 305.11 254.608 362.49 288.043 309.501 C 311.515 272.324 332.321 305.456 352.336 269.084 C 390.788 199.209 443.557 73.669 487.246 199.1 L 486.891 0.179 L 0.318 0.001 L 0.543 220.814 C 28.061 147.541 58.469 177.846 86.896 236.413 Z")}
}
@keyframes _13 {
    from {d: path("M 87.109 92.403 C 119.164 163.244 152.802 302.681 185.243 359.853 C 218.625 418.826 253.444 415.388 286.879 358.526 C 310.351 318.633 333.142 252.86 356.679 216.162 C 400.416 148.743 445.521 182.954 487.104 315.097 L 487.104 0.001 L 0.127 0.001 L 0.127 125.001 C 27.645 3.675 58.682 29.557 87.109 92.403 Z") }
    to {d: path("M 86.896 264.961 C 118.951 335.802 153.966 217.493 186.407 274.665 C 219.789 333.638 254.608 390.782 288.043 333.92 C 311.515 294.027 331.571 322.141 352.336 283.806 C 396.073 203.06 445.308 86.025 487.246 220.6 L 486.891 0.179 L 0.318 0.001 L 0.543 239.446 C 28.061 160.819 58.469 202.115 86.896 264.961 Z")}
}
@keyframes _14 {
    from {d: path("M 87.109 121.615 C 119.164 214.851 152.802 398.369 185.243 473.616 C 218.625 551.232 253.444 546.707 286.879 471.869 C 310.351 419.364 333.142 332.798 356.679 284.498 C 400.416 195.766 445.521 240.792 487.104 414.71 L 487.104 0.001 L 0.127 0.001 L 0.127 147.401 C 25.512 43.936 58.682 38.901 87.109 121.615 Z") }
    to {d: path("M 86.896 294.173 C 118.951 387.409 171.865 307.673 204.306 382.92 C 237.688 460.536 272.507 456.011 305.942 381.173 C 329.414 328.668 346.698 334.352 370.235 286.052 C 413.972 197.32 446.194 87.679 487.246 261.6 L 486.891 0.179 L 0.318 0.001 L 0.191 274.7 C 28.061 171.208 58.469 211.459 86.896 294.173 Z")}
}
@keyframes _15 {
    from {d: path("M 87.109 170.848 C 119.164 301.829 152.802 559.64 185.243 665.35 C 218.625 774.387 253.444 768.03 286.879 662.895 C 310.351 589.135 333.142 467.524 356.679 399.671 C 400.416 275.018 445.521 338.272 487.104 582.597 L 487.104 0.001 L 0.127 0.001 L 0.127 191.301 C 25.512 45.893 58.682 54.649 87.109 170.848 Z") }
    to {d: path("M 86.896 343.406 C 118.951 474.387 171.865 380.824 204.306 486.534 C 237.688 595.571 272.507 589.214 305.942 484.079 C 329.414 410.319 345.272 380.446 370.235 313.105 C 416.443 188.452 452.706 83.728 487.246 328.1 L 486.891 0.179 L 0.318 0.001 L 0.191 391.5 C 25.977 246.115 58.469 227.207 86.896 343.406 Z")}
}
@keyframes _16 {
    from {d: path("M 87.109 234.797 C 119.164 414.805 152.802 769.116 185.243 914.394 C 218.625 1064.245 253.444 1055.508 286.879 911.021 C 310.351 809.652 333.142 642.521 356.679 549.27 C 400.416 377.959 445.521 464.889 487.104 800.666 L 487.104 0.001 L 0.127 0.001 L 0.127 248.201 C 25.512 48.435 58.682 75.104 87.109 234.797 Z") }
    to {d: path("M 86.769 407.355 C 118.824 587.363 167.608 425.076 200.049 570.354 C 233.431 720.205 268.25 711.468 301.685 566.981 C 325.157 465.612 352.078 463.705 375.615 370.454 C 419.352 199.143 445.308 54.333 487.246 390.1 L 487.246 0.2 L 0.191 0.001 L 0.191 481.8 C 26.892 282.006 58.342 247.662 86.769 407.355 Z")}
}
@keyframes _17 {
    from {d: path("M 89.242 261.685 C 127.396 508.128 154.935 857.192 187.376 1019.106 C 220.758 1186.117 255.577 1176.38 289.012 1015.347 C 312.484 902.369 335.275 716.099 358.812 612.17 C 402.549 421.241 447.654 518.126 489.237 892.354 L 489.237 0.001 L 0.127 0.001 L 0.127 272.912 C 27.645 50.215 84.572 231.522 89.242 261.685 Z") }
    to {d: path("M 86.769 434.994 C 124.923 681.437 167.608 513.903 200.049 675.817 C 233.431 842.828 268.25 833.091 301.685 672.058 C 325.157 559.08 352.24 538.071 375.615 434.105 C 417.647 247.154 440.112 54.658 487.246 416.4 L 487.246 0 L 0.191 0.752 L 0.191 575.3 C 28.976 352.608 82.099 404.831 86.769 434.994 Z")}
}
#_b2 { animation-name: _b2; }
#_b1 { animation-name: _b1; }
#_1 { animation-name: _1; }
#_2 { animation-name: _2; }
#_3 { animation-name: _3; }
#_4 { animation-name: _4; }
#_5 { animation-name: _5; }
#_6 { animation-name: _6; }
#_7 { animation-name: _7; }
#_8 { animation-name: _8; }
#_9 { animation-name: _9; }
#_10 { animation-name: _10; }
#_11 { animation-name: _11; }
#_12 { animation-name: _12; }
#_13 { animation-name: _13; }
#_14 { animation-name: _14; }
#_15 { animation-name: _15; }
#_16 { animation-name: _16; }
#_17 { animation-name: _17; }

