/* #region JetBrains */
@font-face {
	font-family: JetBrains Mono;
    /*noinspection CssUnknownTarget*/
	src: url(/fonts/JetBrainsMono-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: JetBrains Mono;
    /*noinspection CssUnknownTarget*/
	src: url(/fonts/JetBrainsMono-Bold.ttf) format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* italics */
@font-face {
	font-family: JetBrains Mono;
    /*noinspection CssUnknownTarget*/
    src: url(/fonts/JetBrainsMono-Italic.ttf) format("truetype");
	font-style: italic;
	font-weight: normal;
}
/* #endregion */
