html,
body {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", Consolas, serif;
    --anim-playback-rate: 1.55;
    will-change: contents;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
